<!--
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>BookmarkMaker</title>
<script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>

<!--bootstrap include
<!--        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="/assets/img/favicon.png"/>
<!--bootstrap include
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
</head>
<body>
<div class="container-fluid fixed-top">
<div class="row">
<div class="col-12">
<nav class="navbar {{#if isDarkMode}}bg-dark{{else}}bg-primary{{/if}}">
<div class="container-fluid">
<div class="row">
<a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>

<a id="loginButton" href="/login"><div class="btn btn-secondary text-light ml-sm-2 align-middle">Login</div></a>
<a id="signupButton" href="/signup"><div class="btn btn-secondary text-light ml-sm-2 align-middle">Sign up</div></a>
</div>
</div>
</nav>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-12">
<nav class="navbar bg-primary">
<div class="container-fluid">
<div class="row">
<a href="/login"><img src="/assets/img/face.png" alt="face logo"/></a>

<a href="/login"><div class="btn btn-secondary text-light ml-sm-2 align-middle">Login</div></a>
<a href="/signup"><div class="btn btn-secondary text-light ml-sm-2 align-middle">Sign up</div></a>
</div>
</div>
</nav>
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-4"></div>
<section class="col-4" id="content" >
</section>
<div class="col-4"></div>

<div class="modal fade" id="bookmarkMessage" tabindex="-1" role="dialog" aria-labelledby="updateModalModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4><span id="errorMessage" class="modal-title"></span></h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="/assets/loginBundle.js"></script>
</body>
</html>
-->
<!--<div id="bookmarkMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
<h4><span id="errorMessage">Wrong username or password</span></h4><img id="bookmark" src="assets/img/bookmark.png" alt="bookmark"/>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
Launch demo modal
</button>


-->



<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gavin Keirstead</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/img/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <style>
            .margin3px {
                margin: 3px;
            }
        </style>
        <!--<li class="nav-item active">
<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
</li>-->
        <!--col-sm-3 col-d-2 mr-0-->
        <script src="./bundle.js"></script>
    </head>
    <body class="bg-secondary">
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <div class="navbar-brand ">Gavin Keirstead<i><small><small> - B.S in Game Design and Development</small></small></i></div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://mega.nz/#!92hnmZhD!UKZ5n2Z920ydTfrAio2wksyJMnezHjCpKHc8sckbvp8" >Download Resume</a>
                </li>
            </ul>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap" > <div class="nav-link" id="statusCode"></div></li>
            </ul>
        </nav>
        <div class="container-fluid border-primary">
            <div class="row">

                <div class="modal fade" id="AutonomousAgentsModal" tabindex="-1" role="dialog" aria-labelledby="AutonomousAgentsModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="AutonomousAgentsModalLabel">Autonomous Agents</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Solo project assigned for one of my classes where we needed to have 3 types of movement patterns in a level of our creation with a theme based around it. I used Flocking, Path Following and Wandering for the movement patterns and had the theme of a group of astronauts stranded in space being collected by a group of aliens and beinging them back to the mothership. The assets used were free borrowed from the unity store, but all programming was done by me in C#.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="FantasyLevelModal" tabindex="-1" role="dialog" aria-labelledby="FantasyLevelModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="FantasyLevelModalLabel">Low Poly Fantasy Level</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                This was a team project for my 3D modeling class, where I was group lead. I modeled the Tower, Walls and Door which was animated and as group lead placed all assets in the level after collecting the rest from my group members. I also did all of the scripting for collision boxes activating animations as well as the buoyancy/swimming of the player if they went in the river.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="99BottlesModal" tabindex="-1" role="dialog" aria-labelledby="99BottlesModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="99BottlesModalLabel">99 Bottles</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Team Project where we creating a game in C# using MonoGame. Much of the base game loop was programmed by me, but also things like the health bar, jumping physics, enemy AI, attacks(bottle throwing), and some of the base collision for the character.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ProjectPriceModal" tabindex="-1" role="dialog" aria-labelledby="ProjectPriceModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="ProjectPriceModalLabel">Project Price</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                This was a side project, me and a friend of mine were doing for fun. I was all done in Unreal Engine 4 using Blueprint scripting. Everything except all of the enemy AI, and some 3D modeling was done by me, this includes most of the 3D assets, the character controller(camera, leaning, crouching, jumping, interacting, etc) and level design.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="OpenGLModal" tabindex="-1" role="dialog" aria-labelledby="OpenGLModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="OpenGLModalLabel">OpenGL Engine</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Solo project of a custom Engine build using C++ and OpenGL for rendering. I made a small replica of the old atari game Kaboom to demonstrate the game loop and for rendering the cubes used
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="DnDCharacterCreationModal" tabindex="-1" role="dialog" aria-labelledby="DnDCharacterCreationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="DnDCharacterCreationModalLabel">DnD Character Creation Website</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Solo project of a tutorial website made using HTML and CSS. Stats and information is taken from the players handbook for 5th ed.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="SpookyModal" tabindex="-1" role="dialog" aria-labelledby="SpookyModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="SpookyModalLabel">Spooky Level</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Solo Project where we had to script an amusement park ride and a build an environment around it. I built a death trap amusement park ride and a spooky town around it that was halloween themed. Nearly all assets were gathered from the Unity store for free.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="BookmarkMakerModal" tabindex="-1" role="dialog" aria-labelledby="BookmarkMakerModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="BookmarkMakerModalLabel">Bookmark Maker Website</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Solo project using javascript, handlebars, reactjs, mongodb, redis and more to use a login system that encrypts the users password with SHA-256 encryptiong and stores the users account on a database, so they can login at a later time and retrieve any bookmarks tied to their account.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ProjectDemoniumModal" tabindex="-1" role="dialog" aria-labelledby="ProjectDemoniumModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="ProjectDemoniumModalLabel">Project Daemonium</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Group project(2 members, me included) done entirely in UE4 using C++ and Blueprints. It is a first person hack and slash game reminiscent of Warhammer End Times Vermintide 2 combat. The attacks are procedurally animated in C++ as we didn't have an animator for the project, the game features a dodging mechanic, blocking, weapon switching to a ranged weapon, and simple enemy AI all coded by me.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="DnDCharacterStorageModal" tabindex="-1" role="dialog" aria-labelledby="DnDCharacterStorageModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="DnDCharacterStorageModalLabel">DnD Character Storage Website</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                A solo project using javascript, html, bootstrap and more to store the users made characters on the server, any users accessing it can see for a limited time(due to heroku's hosting) any characters hosted. This project was made before mongodb was taught, so with some time this project could easily be made to be permanent storage and linked directly to each user with a login system.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="SkyrimLevelModal" tabindex="-1" role="dialog" aria-labelledby="SkyrimLevelModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="SkyrimLevelModalLabel">Skyrim Custom Level</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Solo level design project where I had to create a level with an overarching story line and some 3 mini narratives within the level. There is no quest attached, but there are enemies and loot throughout as the player gets to the end of the level. The main objectives are that there is a door that the player can't open, but along two different paths there is a lever at the end of each. When both levers are eventually pulled the door opens up and the boss at the end of the level is accessible.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="KillingFloor2Modal" tabindex="-1" role="dialog" aria-labelledby="KillingFloor2ModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="KillingFloor2ModalLabel">Killing Floor 2 Custom Level</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Solo level design project where I designed a european town for the player to play survival mode in. It features, narrow corridors, open areas, and interior environments for the player to play in.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="DirectXEngineModal" tabindex="-1" role="dialog" aria-labelledby="DirectXEngineModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                <h5 class="modal-title" id="DirectXEngineModalLabel">DirectX 11 Engine + Game</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-dark text-light">
                                Group project where I coded a lot of the base engine(rendering of meshes, textures, allowing for movement, camera,  etc) in C++ and beyond that coded some of the base game interactions, made the 3D models(planets, ship, etc) and coded the screen space volumetric lighting shader.
                            </div>
                            <div class="modal-footer bg-dark text-light">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>


                <div id="carouselExampleIndicators" class="carousel slide m-auto col-12" data-ride="carousel">
                    <ol class="carousel-indicators mb-5">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active h-s-100">
                                <img class="carousel-item-bg d-block img-responsive center-block" src="/assets/img/portfolioImage1_1.png" alt="First slide">
                            <a data-toggle="modal" data-target="#AutonomousAgentsModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Autonomous Agents</h5>
                                    <p>Unity, C#, AI flocking</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage2_1.png" alt="Second slide">
                            <a data-toggle="modal" data-target="#FantasyLevelModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Lowpoly Fantasy Level</h5>
                                    <p>3D Modeling, Maya, C# scripting,Team Project-Group Lead</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage3_1.png" alt="Third slide">
                            <a data-toggle="modal" data-target="#99BottlesModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>99 Bottles</h5>
                                    <p>C#, MonoGame, Team Project</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage4_1.png" alt="Fourth slide">
                            <a data-toggle="modal" data-target="#ProjectPriceModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Passion Project-Project Price</h5>
                                    <p>UE4, 3D Modeling, Maya, Blueprint Scripting</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage5_1.png" alt="Fifth slide">
                            <a data-toggle="modal" data-target="#OpenGLModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>OpenGL Engine</h5>
                                    <p>C++, OpenGL</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage6_1.png" alt="Sixth slide">
                            <a data-toggle="modal" data-target="#DnDCharacterCreationModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>DnD Character Creation Tutorial Website</h5>
                                    <p>HTML, CSS</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage7_1.png" alt="Seventh slide">
                            <a data-toggle="modal" data-target="#SpookyModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Spooky Level</h5>
                                    <p>Unity, C# Scripting, Level Design</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage8_1.png" alt="Eighth slide">
                            <a data-toggle="modal" data-target="#BookmarkMakerModal">
                                <div class="carousel-caption bg-dark mb-5" >
                                    <h5>Bookmark Maker Website</h5>
                                    <p>Javascript, HTML, Bootstrap, ReactJS, Mongoose, MVC Structure</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage9_1.png" alt="Ninth slide">
                            <a data-toggle="modal" data-target="#ProjectDemoniumModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Project Demonium</h5>
                                    <p>UE4, C++, Blueprint Scripting, 3D Modeling, Substance Painter</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage10_1.png" alt="Tenth slide">
                            <a data-toggle="modal" data-target="#DnDCharacterStorageModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>DnD Character Storage Website</h5>
                                    <p>Javascript, HTML, Bootstrap</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage11_1.png" alt="Eleventh slide">
                            <a data-toggle="modal" data-target="#SkyrimLevelModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Skyrim Custom Level</h5>
                                    <p>Level Design, Papyrus Scripting</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage12_1.png" alt="Twelfth slide">
                            <a data-toggle="modal" data-target="#KillingFloor2Modal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Killing Floor 2 Custom Level</h5>
                                    <p>Level Design</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage13_1.png" alt="Thirteenth slide">
                            <a data-toggle="modal" data-target="#DirectXEngineModal">
                                <div class="carousel-caption bg-dark mb-5" data-toggle="tooltip" title="Disabled tooltip">
                                    <h5>Direct X Engine and Game</h5>
                                    <p>C++, DirectX 11, Screen-Space Volumetric Lighting ShaderTeam Project, Gameplay Programming</p>
                                    <i><small>click for more info</small></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Prev</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>




        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/assets/loginBundle.js"></script>
    </body>
</html>
