<!--
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>BookmarkMaker</title>
<script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>

<!--bootstrap include
<!--        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="/assets/img/favicon.png"/>
<!--bootstrap include
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
</head>
<body>
<div class="container-fluid fixed-top">
<div class="row">
<div class="col-12">
<nav class="navbar {{#if isDarkMode}}bg-dark{{else}}bg-primary{{/if}}">
<div class="container-fluid">
<div class="row">
<a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>

<a id="loginButton" href="/login"><div class="btn btn-secondary text-light ml-sm-2 align-middle">Login</div></a>
<a id="signupButton" href="/signup"><div class="btn btn-secondary text-light ml-sm-2 align-middle">Sign up</div></a>
</div>
</div>
</nav>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-12">
<nav class="navbar bg-primary">
<div class="container-fluid">
<div class="row">
<a href="/login"><img src="/assets/img/face.png" alt="face logo"/></a>

<a href="/login"><div class="btn btn-secondary text-light ml-sm-2 align-middle">Login</div></a>
<a href="/signup"><div class="btn btn-secondary text-light ml-sm-2 align-middle">Sign up</div></a>
</div>
</div>
</nav>
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-4"></div>
<section class="col-4" id="content" >
</section>
<div class="col-4"></div>

<div class="modal fade" id="bookmarkMessage" tabindex="-1" role="dialog" aria-labelledby="updateModalModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4><span id="errorMessage" class="modal-title"></span></h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="/assets/loginBundle.js"></script>
</body>
</html>
-->
<!--<div id="bookmarkMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
<h4><span id="errorMessage">Wrong username or password</span></h4><img id="bookmark" src="assets/img/bookmark.png" alt="bookmark"/>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
Launch demo modal
</button>


-->



<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gavin Keirstead</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/img/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <style>
            .margin3px {
                margin: 3px;
            }
        </style>
        <!--<li class="nav-item active">
<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
</li>-->
        <!--col-sm-3 col-d-2 mr-0-->
        <script src="./bundle.js"></script>
    </head>
    <body class="bg-secondary">
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <div class="navbar-brand ">Gavin Keirstead<i><small><small> - B.S in Game Design and Development</small></small></i></div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://mega.nz/#!92hnmZhD!UKZ5n2Z920ydTfrAio2wksyJMnezHjCpKHc8sckbvp8" >Download Resume</a>
                </li>
            </ul>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap" > <div class="nav-link" id="statusCode"></div></li>
            </ul>
        </nav>
        <div class="container-fluid border-primary">
            <div class="row">

                <div class="modal fade" id="AutonomousAgentsModal" tabindex="-1" role="dialog" aria-labelledby="AutonomousAgentsModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AutonomousAgentsModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ProjectDaemoniumModal" tabindex="-1" role="dialog" aria-labelledby="ProjectDaemoniumModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ProjectDaemoniumModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="carouselExampleIndicators" class="carousel slide m-auto col-12" data-ride="carousel">
                    <ol class="carousel-indicators mb-5">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active h-s-100">
                            <img class="carousel-item-bg d-block img-responsive center-block" src="/assets/img/portfolioImage1_1.png" alt="First slide">
                            <div class="carousel-caption bg-dark mb-5">
                                <a data-toggle="modal" data-target="#AutonomousAgentsModal">
                                    <h5>Autonomous Agents</h5>
                                    <p>Unity, C#, AI flocking</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage2_1.png" alt="Second slide">
                            <a>
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Lowpoly Fantasy Level</h5>
                                    <p>3D Modeling, Maya, C# scripting,Team Project-Group Lead</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage3_1.png" alt="Third slide">
                            <a>
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>99 Bottles</h5>
                                    <p>C#, MonoGame, Team Project</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage4_1.png" alt="Fourth slide">
                            <a>
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Passion Project-Project Price</h5>
                                    <p>UE4, 3D Modeling, Maya, Blueprint Scripting</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage5_1.png" alt="Fifth slide">
                            <a>
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>OpenGL Engine</h5>
                                    <p>C++, OpenGL</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage6_1.png" alt="Sixth slide">
                            <a>
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>DnD Character Creation Tutorial Website</h5>
                                    <p>HTML, CSS</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage7_1.png" alt="Seventh slide">
                            <a>
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Spooky Level</h5>
                                    <p>Unity, C# Scripting, Level Design</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage8_1.png" alt="Eighth slide">
                            <a data-toggle="modal" data-target="#BookmarkMakerModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Bookmark Maker Website</h5>
                                    <p>Javascript, HTML, Bootstrap, ReactJS, Mongoose, MVC Structure</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage9_1.png" alt="Ninth slide">
                            <a data-toggle="modal" data-target="#ProjectDemoniumModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Project Demonium</h5>
                                    <p>UE4, C++, Blueprint Scripting, 3D Modeling, Substance Painter</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage10_1.png" alt="Tenth slide">
                            <a data-toggle="modal" data-target="#DnDCharacterStorageModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>DnD Character Storage Website</h5>
                                    <p>Javascript, HTML, Bootstrap</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage11_1.png" alt="Eleventh slide">
                            <a data-toggle="modal" data-target="#SkyrimLevelModal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Skyrim Custom Level</h5>
                                    <p>Level Design, Papyrus Scripting</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage12_1.png" alt="Twelfth slide">
                            <a data-toggle="modal" data-target="#KillingFloor2Modal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Killing Floor 2 Custom Level</h5>
                                    <p>Level Design</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item h-s-100">
                            <img class="carousel-item-bg d-block" src="/assets/img/portfolioImage12_1.png" alt="Thirteenth slide">
                            <a data-toggle="modal" data-target="#KillingFloor2Modal">
                                <div class="carousel-caption bg-dark mb-5">
                                    <h5>Direct X Engine and Game</h5>
                                    <p>C++, DirectX 11, Screen-Space Volumetric Lighting ShaderTeam Project, Gameplay Programming</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>




        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/assets/loginBundle.js"></script>
    </body>
</html>
