html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .0125rem .12rem;
    font-size  : .24875rem;
    line-height  : .125;
    border-radius : .012rem;
}

.list-group {
    max-height: 300px;
    overflow-y:auto;
}
